body{
    padding: 0;
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;

}

.main-box{
 display: flex; 
 max-width:600px;
box-shadow:10px 20px 20px rgba(0,0,0,0.1);  
border-radius:20px;


}
.box-1{
min-height: 400px; 
background: linear-gradient(#6b54ee,#260daf);
border-radius: 20px;
text-align: center;
color:white;



}
.display-text{
    margin: 0;
    padding-top: 30px;
    color: rgb(212, 208, 208);
    margin-bottom: 30px;
}
.score{

 margin: 0 auto;
 height: 150px;
 width: 150px;
 background:linear-gradient(rgb(0 0 0/20%)0 0,#4b32d8);
 border-radius: 90px;
 display: grid;
 place-content: center;
}
.overall-score{
    margin: 0;
    color: rgb(175, 172, 172);
}
.score-text{
  
    margin: 0;
    color: white;
    font-size: 3em;    
    font-weight: 700; 

}

h5{
    margin-bottom: 10px;
    font-size: 1.5em;
    margin-top:20px;
}
#comment{
    color: rgb(212, 208, 208);
    width: 60%;
    font-size: 13px;
    margin: 0 auto;
    line-height: 18px;
}
.box-2{
    
    padding: 25px;
    width: 100%;
    max-width: 300px; 
    min-height: 400px;   
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
    

  

}
li{ 
    padding: 0 7px 0 7px; 
    line-height: 45px; 
    font-size: 15px;
    list-style: none;
    margin-bottom: 10px;
    height: 45px;
    border-radius: 6px;
    font-weight: bold;
    
    
}

svg{
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 5px;
}
#list-item1{
    background-color: rgba(255,218,219,0.3);
    color: #ff5952;
}
 #list-item2{
    background-color: rgba(255, 247, 209, 0.3);
    color: #f8d02d;
    
}
#list-item3{
    background-color: rgba(209, 252, 232,0.3);
    color: #3be4a3;
}
#list-item4{
    background-color: rgba(238, 217, 252,0.3);
    color: #450fce;
} 
span{
    color: #292929;
    float: right;
    font-weight: 600;
}
#dull-text{
    opacity: 0.5;
}
#summary-text{
    color: #292929;
    font-size: 18px;
    font-weight: bold;
  
}
img{
    margin-right: 5px;
}
button{
    margin-top: 19px;
    width: inherit;
    height: 45px;
    background-color:hsl(224,30%,27%);
    border: none;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Hanken Grotesk', sans-serif;
}
button:hover{
    background:linear-gradient(#6b54ee,#260daf); 
}
button:active{
    opacity: 0.4;
}
@media screen and (min-width:600px){
    body{
        min-height: 100vh; 
        display: flex;
        align-items: center;
        justify-content: center; 
        margin: 20px;
    }
    }
    @media screen and (max-width:600px){
        .main-box{
            display: flex;
            flex-direction:column;
            min-height: 100vh;
            
            }

    .box-1{
        width: 100%;
        max-width:100%;
        margin: 0; 
        padding: 0; 
        border-radius: 0px 0px 15px 15px;
    }
    .box-2{
        max-width:100% ;
        margin: 0;
        border-radius: 0px 0px 15px 15px;
        
    }
}

